
.collection-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

body {
    font-family: 'Cinzel', serif;
}


@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin-top: 20px;
    justify-content: center;
}

.card {
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(63, 63, 63);
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

.card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #e0a348;
}

.card p {
    font-size: 1rem;
    padding: 0 10px 20px;
    color: white;
}

footer {
    padding: 20px;
    font-size: 0.9em;
    color: gray;
    background-color: #2b2b40;
    text-align: center;
}